.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation {
  text-decoration: none;
}
.navigation:hover {
  text-decoration: underline;
}

.active {
  color: green;

  border-radius: solid green 3px;
}

.active:hover {
  color: orange;
  text-decoration: none;
}
.card-style {
  min-height: 50vh;
  display: flex;

  align-items: center;
  justify-content: center;
}
